<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SightSign.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <SightSign.Settings1>
            <setting name="LoadedInkLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowDotWhenWriting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowTranslucentInkWhenWriting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InkColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="FadedInkColor" serializeAs="String">
                <value>64, 255, 255, 255</value>
            </setting>
            <setting name="InkWidth" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DotColor" serializeAs="String">
                <value>128, 254, 212, 42</value>
            </setting>
            <setting name="DotWidth" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="AnimationInterval" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="AnimationPointsOnFirstStroke" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="RobotComPort" serializeAs="String">
                <value>com7</value>
            </setting>
            <setting name="RobotZShift" serializeAs="String">
                <value>1.66</value>
            </setting>
            <setting name="RobotWorkspaceScale" serializeAs="String">
                <value>0.35</value>
            </setting>
            <setting name="RobotControl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DotDownWidth" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="DotDownColor" serializeAs="String">
                <value>254, 212, 42</value>
            </setting>
            <setting name="RobotRadiusBacklash" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RobotThetaBacklash" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BackgroundColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ButtonBackgroundColor" serializeAs="String">
                <value>254, 212, 42</value>
            </setting>
            <setting name="ButtonTextColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ButtonBorderColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ButtonBorderWidth" serializeAs="String">
                <value>2</value>
            </setting>
        </SightSign.Settings1>
    </userSettings>
</configuration>
